venv/
venv310/
__pycache__/
*.pyc

database.db
static/uploads/

.env

app_backup.py
app_before_login.py
app_working_final.py

test_images/
.vscode/

test_api.html
test_model.py
templates/index_backup.html